<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/global.css}" />
	<link rel="stylesheet" th:href="@{/css/discuss-detail.css}" />
	<title>TechPulse-Detail</title>
</head>
<body>
	<div class="nk-container">

		<header class="bg-dark sticky-top" th:replace="index::header">
			<div class="container">

				<nav class="navbar navbar-expand-lg navbar-dark">

					<a class="navbar-brand" href="#"></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item ml-3 btn-group-vertical">
								<a class="nav-link" href="../index.html">Main page</a>
							</li>
							<li class="nav-item ml-3 btn-group-vertical">
								<a class="nav-link position-relative" href="letter.html">Message<span class="badge badge-danger">12</span></a>
							</li>
							<li class="nav-item ml-3 btn-group-vertical">
								<a class="nav-link" href="register.html">Sign Up</a>
							</li>
							<li class="nav-item ml-3 btn-group-vertical">
								<a class="nav-link" href="login.html">Sign In</a>
							</li>
							<li class="nav-item ml-3 btn-group-vertical dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown">
									<a class="dropdown-item text-center" href="profile.html">My Page</a>
									<a class="dropdown-item text-center" href="setting.html">Settings</a>
									<a class="dropdown-item text-center" href="login.html">Logout</a>
									<div class="dropdown-divider"></div>
									<span class="dropdown-item text-center text-secondary">TechPulse</span>
								</div>
							</li>
						</ul>
						<form class="form-inline my-2 my-lg-0" action="search.html">
							<input class="form-control mr-sm-2" type="search" aria-label="Search" />
							<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
						</form>
					</div>
				</nav>
			</div>
		</header>

		<div class="main">
			<div class="container">
				<h6 class="mb-4">
					<b class="square"></b>
					<span th:utext="${post.title}"></span>
				</h6>
				<div class="media pb-3 border-bottom">
					<a th:href="@{|/user/profile/${user.id}|}">
						<img th:src="${user.headerUrl}" class="align-self-start mr-4 rounded-circle user-header" alt="User Picture" >
					</a>
					<div class="media-body">
						<div class="mt-0 text-warning" th:utext="${user.username}"></div>
						<div class="text-muted mt-3">
							Posted on <b th:text="${#dates.format(post.createTime, 'yyyy-MM-dd HH:mm:ss')}"></b>
							<ul class="d-inline float-right">
								<li class="d-inline ml-2"><a href="javascript:;" th:onclick="|like(this,1,${post.id})|" class="text-primary">
									<b th:text="${likeStatus==1?'Liked':'Like'}">Like</b>
									<i th:text="${likeCount}">11</i></a></li>
								<li class="d-inline ml-2">|</li>
								<li class="d-inline ml-2"><a href="#replyform" class="text-primary">Reply <i th:text="${post.getCommentCount()}"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="mt-4 mb-3 content" th:utext="${post.content}">

				</div>
			</div>
			<div class="container mt-3">
				<div class="row">
					<div class="col-8">
						<h6><b class="square"></b> <i th:text="${post.commentCount}">30</i> Reply</h6>
					</div>
					<div class="col-4 text-right">
						<a href="#replyform" class="btn btn-primary btn-sm">&nbsp;&nbsp;Reply&nbsp;</a>
					</div>
				</div>
				<ul class="list-unstyled mt-4">
					<li class="media pb-3 pt-3 mb-3 border-bottom" th:each="cvo:${comments}">
						<a th:href="@{|/user/profile/${cvo.user.id}|}">
							<img th:src="${cvo.user.headerUrl}" class="align-self-start mr-4 rounded-circle user-header" alt="User Picture" >
						</a>
						<div class="media-body">
							<div class="mt-0">
								<span class="font-size-12 text-success" th:utext="${cvo.user.username}"></span>
								<span class="badge badge-secondary float-right floor"><i th:text="${page.offset + cvoStat.count}">1</i>#</span>
							</div>
							<div class="mt-2" th:utext="${cvo.comment.content}">

							</div>
							<div class="mt-4 text-muted font-size-12">
								<span>Posted on <b th:text="${#dates.format(cvo.comment.createTime, 'yyyy-MM-dd HH:mm:ss')}"></b></span>
								<ul class="d-inline float-right">
									<li class="d-inline ml-2"><a th:href="|#pinglun-${cvoStat.count}|" data-toggle="collapse" class="text-primary">Reply(<i th:text="${cvo.replyCount}"></i>)</a></li>
								</ul>
							</div>
							<ul th:id="|pinglun-${cvoStat.count}|" th:class="|list-unstyled mt-4 bg-gray p-3 font-size-12 text-muted ${cvo.replyCount>0?'':'collapse'}|">
								<li class="pb-3 pt-3 mb-3 border-bottom" th:each="rvo:${cvo.replies}">
									<div>
										<span th:if="${rvo.target==null}"><b class="text-info" th:text="${rvo.user.username}"></b>:&nbsp;&nbsp;</span>
										<span th:if="${rvo.target!=null}"><i class="text-info" th:text="${rvo.user.username}"></i><i>Reply</i><b class="text-info" th:text="${rvo.target.username}"></b>:&nbsp;&nbsp;</span>
										<span th:utext="${rvo.reply.content}" ext=""></span>
									</div>
									<div class="mt-3">
										<span th:text="${#dates.format(rvo.reply.createTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
										<ul class="d-inline float-right">
											<li class="d-inline ml-2"><a th:href="|#huifu-${rvoStat.count}|" data-toggle="collapse" class="text-primary">Reply</a></li>
										</ul>
										<div th:id="|huifu-${rvoStat.count}|" class="mt-4 collapse">
											<form method="post" th:action="@{|/comment/add/${post.id}|}">
												<div>
													<input type="text" name="content" class="input-size" th:placeholder="${rvo.user.username}"/>
													<input type="hidden" name="entityType" value="2">
													<input type="hidden" name="entityId" th:value="${cvo.comment.id}">
													<input type="hidden" name="targetId" th:value="${rvo.user.id}">
												</div>
												<div class="text-right mt-2">
													<button type="submit" class="btn btn-primary btn-sm" onclick="#">&nbsp;&nbsp;Reply&nbsp;&nbsp;</button>
												</div>
											</form>
										</div>
									</div>								
								</li>

								<li class="pb-3 pt-3">
									<form method="post" th:action="@{|/comment/add/${post.id}|}">
										<div>
											<input type="text" class="input-size" name="content" placeholder="Comment here"/>
											<input type="hidden" name="entityType" value="2">
											<input type="hidden" name="entityId" th:value="${cvo.comment.id}">
										</div>
										<div class="text-right mt-2">
											<button type="submit" class="btn btn-primary btn-sm" onclick="#">&nbsp;&nbsp;Reply&nbsp;&nbsp;</button>
										</div>
									</form>
								</li>
							</ul>
						</div>
					</li>
				</ul>
				<nav class="mt-5" th:replace="index::pagination">
					<ul class="pagination justify-content-center">
						<li class="page-item"><a class="page-link" href="#">Main page</a></li>
						<li class="page-item disabled"><a class="page-link" href="#">Previous page</a></li>
						<li class="page-item active"><a class="page-link" href="#">1</a></li>
						<li class="page-item"><a class="page-link" href="#">2</a></li>
						<li class="page-item"><a class="page-link" href="#">3</a></li>
						<li class="page-item"><a class="page-link" href="#">4</a></li>
						<li class="page-item"><a class="page-link" href="#">5</a></li>
						<li class="page-item"><a class="page-link" href="#">Next</a></li>
						<li class="page-item"><a class="page-link" href="#">End</a></li>
					</ul>
				</nav>			
			</div>
			<div class="container mt-3">
				<form class="replyform" method="post" th:action="@{|/comment/add/${post.id}|}">
					<p class="mt-3">
						<a name="replyform"></a>
						<textarea placeholder="Post your reply here!" name="content"></textarea>
						<input type="hidden" name="entityType" value="1">
						<input type="hidden" name="entityId" th:value="${post.id}">
					</p>
					<p class="text-right">
						<button type="submit" class="btn btn-primary btn-sm">&nbsp;&nbsp;Reply&nbsp;&nbsp;</button>
					</p>
				</form>
			</div>
		</div>

		<footer class="bg-dark" style="text-align: center; width: 100%; position: absolute; bottom: 0; color: white;" th:fragment="footer">
			ELEC5619 Group Project.
		</footer>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<script th:src="@{/js/global.js}"></script>
	<script th:src="@{/js/discuss.js}"></script>
</body>
</html>
